@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

:root {
    color: var(--text-secondary);
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #000000;
    --text-secondary: #ececec;
    --bg-primary: #FAAF40;
    --bg-secondary: #141418;
    /*overflow-y: hidden; /* Hide vertical scrollbar
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.sticky {
	background-color: #ffffff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
nav{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-primary);
}
.li-nav {
    float: left;
}
.li-nav a{
    display: block;
    color: var(--text-primary);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: 0.7s;
}
.li-nav a:hover:not(.active) {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    fill: var(--text-secondary);
}
.li-right{
    float: right;
    display: block;
    color: var(--text-primary);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: 0.7s;
}

.leftSide,.rightSide{
    height: 100vh;
    width: 100%;
}
.leftSide{
    padding-top: 2rem;
    background-color: #262261;
}
.rightSide{
    background-color: #EE4036;
}

#hi-there, #name, #Full-Stack-Developer{
    font-size: 50px;
}
#hi-there,#Full-Stack-Developer{
    color: white;
    transition: 0.7s;
}
#name{
    color: var(--bg-primary);
    transition: 0.7s;
    font-weight: 760;
}
#name:hover{
    color: white;
}
#Full-Stack-Developer:hover, #hi-there:hover{
    color: var(--bg-primary);
}
#about-me{
    font-size: 22px;
    color: var(--text-secondary);
    padding:20px 50px 0px 65px;
}
.button1 {
    background-color: var(--bg-primary); 
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button1:hover {
    background-color: var(--bg-secondary);
    color: white;
    fill: white;
}
.image-frame{
    background-color: #262261;
    padding: 50px;
    border-radius: 20%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#profile{
    width: 100%;
    border-radius: 50%;
    border: 10px solid var(--bg-primary);
}
#profileName{
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.button2 {
	width: 150px;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
	color:var(--text-secondary);
	cursor: pointer;
	transition: all 0.9s;
    color: var(--text-primary);
}
.hover-btn {
	background-color: var(--bg-primary);
}
.hover-btn span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	transition: 0.5s;
    
}
.hover-btn span::after {
	position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 225 713C 225 713 775 713 775 713C 789 712 801 719 808 731C 815 743 815 757 808 769C 801 781 789 788 775 788C 775 788 225 788 225 788C 211 788 199 781 192 769C 185 757 185 743 192 731C 199 719 211 712 225 713C 225 713 225 713 225 713M 499 137C 510 137 519 141 527 148C 534 155 538 165 538 175C 538 175 538 534 538 534C 538 534 698 373 698 373C 708 364 722 360 735 363C 748 367 758 377 762 390C 765 403 761 417 752 427C 752 427 530 648 530 648C 523 657 512 663 500 663C 488 663 477 658 470 648C 470 648 248 427 248 427C 238 416 234 400 240 386C 246 371 259 362 275 362C 285 362 294 366 302 373C 302 373 462 534 462 534C 462 534 462 175 462 175C 462 154 479 137 499 137C 499 137 499 137 499 137'/%3E%3C/svg%3E");
    opacity: 0;
	top: 0;
	right: -25px;
	transition: 0.5s;
}
.hover-btn:hover span {
	padding-right: 25px;
}
.hover-btn:hover span::after {
	opacity: 1;
	right: 0;
}
.button-container{
    padding: 20px;
    margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*----------------------------------------------------*/
.button3 {
	width: 200px;
	padding: 25px;
	border: none;
	outline: none;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
	color:var(--text-secondary);
	cursor: pointer;
	transition: all 0.9s;
    color: var(--text-primary);
}
.hover-btn3 {
	background-color: var(--bg-primary);
}
.hover-btn3 span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	transition: 0.5s;
}
.hover-btn3 span::after {
	position: absolute;
    content:url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 900 163C 934 163 962 191 962 225C 962 225 962 305 962 305C 962 305 579 569 579 569C 545 592 521 600 500 600C 479 600 455 592 421 569C 421 569 38 305 38 305C 38 305 38 225 38 225C 38 191 66 163 100 163C 100 163 900 163 900 163M 379 631C 379 631 379 631 379 631C 420 658 459 675 500 675C 541 675 580 658 621 631C 621 631 621 631 621 631C 621 631 962 396 962 396C 962 396 962 800 962 800C 962 834 934 862 900 862C 900 862 100 862 100 862C 66 862 38 834 38 800C 38 800 38 396 38 396C 38 396 379 631 379 631'/%3E%3C/svg%3E");    opacity: 0;
	top: 0;
	right: -25px;
	transition: 0.5s;
}
.hover-btn3:hover span {
	padding-right: 25px;
}
.hover-btn3:hover span::after {
	opacity: 1;
	right: 0;
}
.button-container3{
    padding-right: 5rem;
    margin: auto;
	display: flex;
	justify-content: right;
	align-items: right;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 35px;
}
.flex-container > div {
    fill: var(--text-secondary);
    width: 50px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
}
/*----------------------------------------------------*/
/* CONTACTS HTML*/
/*----------------------------------------------------*/
.contact-body{
    background-color: #262261;
    height: 100vh;
    width: 100%;
    color: var(--text-secondary );
    
}
.contact-body h1{
    font-size: 60px;
    font-weight: 650;
    padding-left: 2rem;
    transition: .5s;
}
.contact-body h1:hover{
    color: var(--bg-primary);
}
.contact-body ul{
    list-style-type: none;
}
.contact-body li{
    margin-left: .3rem;
    fill: var(--text-secondary);
    padding: .2rem;
    font-size: 1.2rem;
}
.contact-body a{
    text-decoration: none;
    color: var(--bg-primary);
    transition: 0.5s;
}
.contact-body a:hover{
    color: #EE4036;
}
.profile-card img{
    width: 27rem;
    border-radius: 5rem;
    border: .5rem var(--bg-primary) solid;
    max-width: 100%; 
    height: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: .5s;
}
.profile-card img:hover{
    border: .5rem #EE4036 solid;
}