@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #000000;
    --text-secondary: #ececec;
    --bg-primary: #FAAF40;
    --bg-secondary: #141418;
}
.sticky {
	background-color: #ffffff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-primary);
}
.li-nav {
    float: left;
}
.li-nav a{
    display: block;
    color: var(--text-primary);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: 0.7s;
}
.li-nav a:hover:not(.active) {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    fill: var(--text-secondary);
}
.li-right{
    float: right;
    display: block;
    color: var(--text-primary);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: 0.7s;
}

.leftSide,.rightSide{
    height: 100vh;
    width: 100%;
}
.rightSide{
    background-color: #262261;
}
.leftSide{
    background-color: #EE4036;
}

#hi-there, #name, #Full-Stack-Developer{
    font-size: 60px;
}
#hi-there,#Full-Stack-Developer{
    color: white;
    transition: 0.7s;
}
#name{
    color: var(--bg-primary);
    transition: 0.7s;
}
#name:hover{
    color: white;
}
#Full-Stack-Developer:hover, #hi-there:hover{
    color: var(--bg-primary);
}